<ul>    
    <li><a  routerLink="task-component">Task 1: Component</a></li>
    <li><a  routerLink="task-binding">Task 2: Binding</a></li>
    <li><a  routerLink="task-directives">Task 3: Directives</a></li>
    <li><a  routerLink="task-router">Task 4: router</a></li>
    <li><a  routerLink="task-templates-driven-forms">Task 5: templates driven forms</a></li>
    <li><a  routerLink="task-input">Task 6: input</a></li>
    <li><a  routerLink="task-output">Task 7: output</a></li>
    <li><a  routerLink="task-user-interation">Task 8: user interaction</a></li>
    <li><a  routerLink="task-service">Task 9: services</a></li>
    <li><a  routerLink="task-service-2">Task 10: services 2</a></li>
    <li><a  routerLink="task-NASA">Task 11: NASA</a></li>
    <li><a  routerLink="task-pokedex">Task 12: pokedex</a></li>
    <li><a  routerLink="task-rxjs">Task 13: RxJS</a></li> 
</ul>
